<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22366208763-tq9sd6aku6ln3c3ni4c0p6ddusj7c80n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22366208763-tq9sd6aku6ln3c3ni4c0p6ddusj7c80n</string>
	<key>API_KEY</key>
	<string>AIzaSyCaNQVQlLZPYe_B5pMJrhvoRC2qCCpLil8</string>
	<key>GCM_SENDER_ID</key>
	<string>22366208763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mechat</string>
	<key>PROJECT_ID</key>
	<string>mechat-1f5d2</string>
	<key>STORAGE_BUCKET</key>
	<string>mechat-1f5d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22366208763:ios:b7b63877cd8774c20b265e</string>
</dict>
</plist>